/* AppBar.module.css */

header {
    background-color: #e4d9d9;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}