/* App.module.css */

.nav {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.navLink {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navLink:hover {
    background-color: #555;
}

.active {
    background-color: #555;
}

.user-info {
    display: flex;
    align-items: center;
}

.logout-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f00;
    color: #fff;
}

.logout-button:hover {
    background-color: #c00;
}